@font-face {
    font-family: Lato;
    src: url(https://fonts.googleapis.com/css?family=Lato:100);
  }


.navbar{
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav-links{
    align-self: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;


    font-size: 1.2em;
}

.nav-link{
    color: #3ec5c1;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s linear;
    &:hover{
        color: #00FF00;
    }
}

.active{
    color: rgb(52, 199, 195);
}