.main{
    margin: 0px;
    background-image: url("../newbg.png");
    height: 600px;
    width: 100%;
    background-size: cover;
}

.centerTitle{
  padding-left: 95px;
  padding-top:100px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 5em;
  color: #FFFFFF;
}